In [2]:
import pandas as pd
import sys
sys.path.append("..")
from src.database import execute_query

# Explorations des données

In [ ]:
execute_query("SELECT COUNT(*) FROM melody.client")

   count
0   3605

In [4]:
execute_query("SELECT COUNT(*) FROM melody.achat")

   count
0   9111

In [5]:
execute_query("SELECT COUNT(*) FROM melody.facture")

   count
0   5101

In [6]:
execute_query("SELECT COUNT(*) FROM melody.produit")

   count
0   9111

In [12]:
execute_query("SELECT DISTINCT nom FROM melody.produit")

                                     nom
0         democrat reach attention send.
1        collection maintain green book.
2               item technology job run.
3     information behavior son discover.
4             service fast of structure.
...                                  ...
2004      something compare suffer call.
2005            lay me structure around.
2006            current lead how single.
2007         ahead chair continue board.
2008            forward rock shoulder |.

[2009 rows x 1 columns]